#divider{
	background-color: black;
	width: 100%;
	height: 1px;
}

#inner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#wrapperItem{
	width: 100%;
}

#wrapper{
	width: 80%;
}

#endWrapper{
	width: 15vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#delIcon{
	margin-top: 5px;
	color: #ad3535;
}