#searchWrapper{
	width: 185px;
	height: 35px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#textBox{
	padding: 5px;
	color: #555555;
	border: none;
	border-radius: 3px;
	background-color: #ffffff;
}