#itemCon{
	width: 80%;
}

#inner{
	color: #535353;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1em;
	height: 1.6em;
	margin: .3em;
	border-radius: 1em;
}

.text{
	margin: 0 .8em 0 0;
}

.divider{
	height: 1px;
	width: 100%;
	background-color: #aaaaaa;
}