#topBase{
	width: 100%;
	display: flex;
	justify-content: center;
}

#heading{
	color: #444444;
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	padding: 1em 0;
	border-radius: .2em;
	text-transform: uppercase;
}