#topBase{
	width: 90vw;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border: 1px solid #444444;
	height: 2em;
	border-radius: 
}

#heading{
	color: #444444;
	text-align: center;
	font-size: 1.6em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
}

.centerFlex{
	display: flex;
	justify-content: center;
}