#topBase{
	width: 100%;
	height: 20%;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(#ffffffff, #ffffffff, #ffffffff, #ffffff00);
	z-index: 1;
}

#heading{
	color: #444444;
	text-align: center;
	font-size: 2.5em;
	font-weight: 300;
	margin: 0;
}

.topBarLine{
	width: 100%;
	height: .6em;
}